/* Copyright 2011 Google Inc. All rights reserved. */
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: -webkit-gradient(linear, 0% 20%, 0% 70%, from(#fff),to(#f0f3f6));
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.hidden {
  display: none;
}
.button {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 1px #000;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fff),to(#e3e3e3));
  border: 1px solid #9C9EA4;
  font-size: 11px;
  height: 24px;
}
.button:hover {
  background: #eee;
}
.button:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#e3e3e3),to(#fff));
  position: relative;
  top: 1px;
}
#header {
  background: #EDF1F5;
  overflow: hidden;
}
#header ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
#header li {
  border-bottom: 0;
  float: left;
  margin: 2px 1px 0 3px;
  width: 43px;
}
#header a {
  background: url("../images/tab_off.png") no-repeat scroll 0 0 transparent;
  color: #00c;
  cursor: pointer;
  display: block;
  height: 25px;
  text-align: center;
  text-decoration: none;
}
#header a:hover {
  background: url("../images/tab_off_over.png") no-repeat scroll 0 0 transparent;
}
#header a:active {
  background: url("../images/tab_off_press.png") no-repeat scroll 0 0 transparent;
}
#header a.selected{
  background: url("../images/tab_on.png") no-repeat scroll 0 0 transparent;
}
#header a.unselected {
  padding-bottom: 0;
  top: 0;
}
#content {
  border-top: 1px solid #ccc;
  clear: both;
  height: 100%;
  margin-top: -1px;
  padding: 0;
  overflow: auto;
}
h1 {
  margin: 0;
  padding: 0 0 1em 0;
}
.calendar-icon, .clock-icon, .alarm-icon, .timer-icon, .stopwatch-icon {
  background-position: center;
  background-repeat: no-repeat;
  height: 21px;
  padding-bottom: 3px;
}
.clock-icon {
  background-image: url("../images/logo.png");
}
.alarm-icon {
  background-image: url("../images/alarm.png");
}
.timer-icon {
  background-image: url("../images/timer.png");
}
.stopwatch-icon {
  background-image: url("../images/stopwatch.png");
}
.calendar-icon {
  background-image: url("../images/calendar.png");
}
.sound-icon {
  background: url("../images/volume.png") no-repeat scroll 0 0 transparent;
  height: 10px;
  margin-left: 4px;
}
.arrow-top {
  background: url("../images/arrow_up.png") no-repeat scroll center transparent;
  height: 12px;
}
.arrow-bottom {
  background: url("../images/arrow_down.png") no-repeat scroll center transparent;
  height: 12px;
}
#header a span {
  width: 10px;
}
.page-container {
  overflow: auto;
}
.goog-date-picker td.goog-date-picker-date {
  border-right: 1px solid #e0e0e0;
}
td.goog-date-picker-date:last-child {
  border-right: 0;
}
goog-date-picker tr.goog-date-picker-head  td {
  background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
}
.ac-renderer {
  background: transparent;
  border: 0;
  height: 200px;
  font: normal 13px Arial, sans-serif;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  width: 240px;
}
.ac-row {
  cursor: pointer;
  padding: 3px 2px 3px 15px;
  white-space: nowrap;
  width: 150px;
}
.ac-highlighted {
  font-weight: bold;
}
.ac-active {
  background-color: #dce5fa;
  background: url("../images/addthis.png") no-repeat scroll 180px 3px #dce5fa;
  cursor: pointer;
  width: 230px;
}
.single-clock-div {
  text-align: center;
}
#canvasDiv {
  height: 50px;
}
.timer_mark_class span {
  color: black;
  text-align: center;
}
.timer_mark_class {
  color: #ccc;
}
#static_stop_clock_display span, #stop_clock_display span, #timer_display span {
  color: black;
  font-size: 27px;
  font-weight: bold;
}
#static_stop_clock_display, #stop_clock_display, #timer_display {
  color: #999;
  font-size: 21px;
  padding: 5px;
  text-align: center;
  margin-top: 15px;
}

.button-blue, .button-gray, .button-red, .button-gray-disabled, .button-blue-disabled {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 0 1px #ABABAB;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fff), to(#ebebeb));
  border: 1px solid #35579F;
  color: white;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  margin: 4px;
}
.button-gray {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fff),to(#e3e3e3));
  border: 1px solid #9C9EA4;
  color: #000;
}
.button-gray-disabled {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fff),to(#e3e3e3));
  border: 1px solid #9C9EA4;
  color: gray;
}
.button-blue {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#6391DE), to(#426DC9));
  border: 1px solid #35579F;
}
.button-blue-disabled {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#fff),to(#e3e3e3));
  border: 1px solid #9C9EA4;
  color: grey;
}
.button-red {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#990000),to(#d73131));
  border: 1px solid #990000;
}
.button-red:hover {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#9E0404),to(#D02B2B));  
  border: 1px solid #ff0000;
}
.button-red:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#d73131),to(#990000));
  border: 1px solid #990000;
}
.button-blue:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#426DC9), to(#6391DE));
  border: 1px solid #0055ff;
}
.button-gray:active {
  background: #eee;
  position: relative;
  top: 1px;
}
.button-blue:hover {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#6391DE), to(#426DC9));
  border: 1px solid #0055ff;
}
.button-gray:hover {
 background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#e3e3e3),to(#fff));
}
#stop_clock_mark_display_div {
  height: 160px;
  margin-top: -7px;
  overflow: auto;
}
.time-div {
  color: #000;
  font-size: 23px;
  font-weight: bold;
}
#time-div, #time-char-div {
  padding-left: 5px;
}
#time-divdefault {
  font-weight: bold;
  font-size: 28px;
}
#time-char-divdefault div.day-month {
  font-size: 12px;
  font-weight: bold; 
}
.day-month {
  color: #ccc;
  font-weight: bold; 
  padding-left: 5px;"
}
.search-box {
  -webkit-box-shadow: inset 1px 1px 3px #9C9EA5;
  border-radius: 3px;
  border: 1px solid #9C9EA5;
  height: 22px;
  padding: 0 2px;
  width: 100%;
}
#multi_clock_page {
  height: 232px;
  overflow: auto;
}
#multi_clock_page tr {
  background: -webkit-gradient(linear, 0% 10%, 0% 70%, from(#fff),to(#f0f3f6));
}
#multi_clock_page tr:hover {
  background: -webkit-gradient(linear, 0% 10%, 0% 70%, from(#e6edfb),to(#f8fafe));
  cursor: pointer;
}
#multi_clock_page > div.mutli_clock_div {
  border-bottom: 1px solid #dfe1e2;
}
#multi_clock_page > div.mutli_clock_div:hover {
  border-top: 1px solid #426dc9;
  border-bottom: 1px solid #426dc9;
}
#multi_clock_page > div.mutli_clock_div:last-child:hover {
  border-top: 1px solid #426dc9;
  border-bottom: 1px solid #426dc9;
}
#multi_clock_page > div.mutli_clock_div:last-child {
  border-bottom: 0;
}
#multi_clock_page > div table td {
  padding: 1px 0 2px 4px;
}
#multi_clock_page .day-month {
  color: #888;
  font-size: 11px;
  padding: 0;
}
#multi_clock_page .month_format {
  padding: 0;
}
#multi_clock_page .time_format {
  font-size: 18px;
  font-weight: bold;
}
#multi_clock_page .city_name {
  font-size: 11px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 58px;
  white-space: nowrap;
}
#multi_clock_page .city_timezone {
  color: #888;
  font-size: 11px;
}
#multi_clock_page .mutli_clock_div td:first-child div {
  padding-left: 2px;
}
#dayList input[type="button"] {
  -webkit-box-shadow: 0 0 1px #ababab;
  background: -webkit-gradient(linear, 0% 93%, 0% 60%, from(#DEDEDE), to(#FAFBFC));
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #000;
  font-size: 12px;
}
#dayList input[type="button"]:hover {
  border: 1px solid #426dc9;
  border-collapse: collapse;
  position: relative;
  left: -1px;
}
#dayList input[type="button"]:first-child:hover, #dayList input[type="button"]:last-child:hover {
  border: 1px solid #426dc9;
  border-collapse: collapse;
  position: relative;
  left: 0;
}
#dayList input[disabled]:first-child:hover {
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right-color: #bbb;
}
#dayList input[disabled]:last-child:hover {
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left-color: #bbb;
}
#dayList input[disabled], #dayList input[disabled]:hover {
  -webkit-box-shadow: #DEDEDE 0 1px 1px;
  background: -webkit-gradient(linear, 0% 90%, 0% 10%, from(#eee),to(#fff));
  border-top: 1px solid #bbb;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #bbb;
  border-left: 0;
  color: #aaa;
  position: relative;
  left: 0;
}
#dayList input[disabled]:first-child {
  border-left: 1px solid #bbb;
}
#dayList input[disabled]:last-child {
  border-right: 1px solid #bbb;
}
#clockContainer #dayList input[disabled].daysSelect {
  background: -webkit-gradient(linear, 0% 90%, 0% 10%, from(#eee),to(#fff));
}
#dayList input[type="button"].daysSelect {
  background: -webkit-gradient(linear, 0% 10%, 0% 0%, from(#ddd),to(#ccc));
}
tr.goog-date-picker-head td {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 5px 0;
}
tr.goog-date-picker-head td.goog-date-picker-monthyear {
  font-weight: bold;
}
div.goog-date-picker th.goog-date-picker-wday {
  background: #fff;
  border-bottom-width: 0;
  border-right: 1px solid #e0e0e0;
  font-family: 'arial black';
  font-size: 11px;
  padding: 5px 0;
}
div.goog-date-picker th.goog-date-picker-wday:last-child {
  border-right: 0;
}
div.goog-date-picker td.goog-date-picker-date {
  font-size: 11px;
  font-weight: bold;
  padding: 2px 3px;
}
.day-month {
  font-size: 11px;
  font-color: #888;
}
#stop_clock_mark_display td {
  border-bottom: 1px solid #ddd;
  color: #999;
  font-size: 13px;
  padding: 3px 0;
  vertical-align: top;
  text-align: center;
}
#timer_display_subtitle {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: -12px;
  text-align: center;
}
#timer_display_subtitle span {
  padding: 0 13px;
}
/* overriding the calendar selection */
#div1 td.goog-date-picker-selected {
  background: #fff;
  border-radius : 0;
}
#div1 td.goog-date-picker-today {
  border-radius : 5px;
  background: url("../images/selecteddatebg.png") no-repeat scroll center transparent;
}
#div1 {
  overflow: hidden;
}
.play-icon {
  background: url("../images/circle_wid_arrow.png") no-repeat scroll 0 0 transparent;
  height: 24px;
  margin-left: 2px;
}
.play-icon div {
  font-size: 10px;
  font-weight: bold;
  line-height: 18px;
}
div.goog-date-picker {
  -webkit-box-shadow: 0 0 1px #ababab;
  background: #fff;
  border: 1px solid #ababab;
  margin: -2px 6px;
  padding: 0 2px 6px 2px;
}
div.goog-date-picker table {
  width: 216px;
}
.goog-date-picker-head .goog-date-picker-btn div.btn-left {
  background: url("../images/arrowleft.png") no-repeat scroll center transparent;
  height: 9px;
  left: -1px;
  position: relative;
  width: 6px;
}
.goog-date-picker-head .goog-date-picker-btn div.btn-right {
  background: url("../images/arrowright.png") no-repeat scroll center transparent;
  height: 9px;
  width: 6px;
}
.goog-date-picker-head .goog-date-picker-btn {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(white), to(#E0E0E0));
  border: 1px solid #ABABAB;
  border-radius: 2px;
  padding: 3px 6px 3px 6px;
}
.goog-date-picker-head .goog-date-picker-btn:hover {
  border: 1px solid #426dc9;
}
.goog-date-picker-head .goog-date-picker-btn:active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#e5eaf0), to(#f7f9fa));
  border: 1px solid #426dc9;
}
.goog-date-picker .padding-seperator {
  padding: 4px 0;
}
.div-seperator {
  background: url("../images/seperator.png");
  height: 2px;
  width: 100%;
}
#done, #delete, #add {
  margin-right: -2px;
}
.button-blue-big, .button-gray-big, .button-red-big, .button-big {
  height: 25px;
  min-width: 48px;
}
.button-blue-disabled {
  height: 25px;
}
#time-char-div  .day-month {
  color: #999;
}
.edit_page_position {
  font-size: 11px;
  left: -0.8px;
  position: absolute;
  top: 82px;
}
.goog-date-picker:focus {
  outline: none;
}
